@import url('/CSS/header.css');
@import url('/CSS/footer.css');

body {
    overflow-x: hidden;
    font-family: Montserrat;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    overflow-x: hidden;
    flex: 1;
    box-sizing: border-box;
}

.container-width {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.main-buildings-name {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
    border-radius: 50px;
    padding: 12px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
    width: fit-content;
    outline: none;
    height: fit-content;
}

@media (max-width: 1024px) {
    .container-width {
        max-width: 900px;
    }
    
    .main-top-news {
        height: 390px;
    }

    .logo {
        width: 350px;
        height: 30px;
    }

    .main-nav {
        
    }

    .nav-list {
        
    }

    .nav-item a {
        font-size: 16px;
        /* line-height: 16px; */
    }
    .main-buildings-name {
        font-weight: 400;
        font-size: 12px;
        border-radius: 50px;
        padding: 12px 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

@media (max-width: 768px) {  
    .container-width {
        max-width: 620px;
    }
    
    .main-top-news {
        height: 350px;
    }

    .main-buildings-name {
        font-weight: 400;
        font-size: 12px;
        border-radius: 50px;
        padding: 12px 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}


@media (max-width: 520px) {
    body {
        overflow-x: hidden;
    }

    main {
        
    }

    .container-width {
        max-width: 300px;
    }

    .header {
        
    }

    .header-top {
       
    }

    .logo-link {
        
    }

    .logo {
        width: 280px;
        height: 30px;
    }

    .main-nav {
        
    }

    .nav-list {
        flex-direction: column;
        gap: 16px;
        
    }

    .nav-item a {
        font-size: 14px;
        line-height: 16px;
    }

    .nav-item a::after {
        
    }

    .nav-item a:hover::after {
        
    }

    .footer {
        
    }

    .footer-container {
        
    }

    .footer-svg {
        
    }
}