.main-modern-buildings-container {
    display: flex;
    gap: 20px;
}

.modern-card {
    position: relative;
    overflow: hidden;
    color: rgb(0, 0, 0);
    display: flex;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.modern-primary-card{
    display: flex;
    width: 322px;
    height: 460px;
    pointer-events: none;
}

.modern-back-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 766px;
}
.modern-secondary-cards {
    display: flex; 
    gap: 20px;
    justify-content: space-between;
}

.modern-secondary-card {
    display: flex;
    width: 294px;
    height: 292px;
    gap: 20px;
    justify-content: space-between;
}

.modern-third-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modern-third-card {
    display: flex;
    width: 612px;
    height: 266px;
    pointer-events: none;
    background-image: url('/static/img/dominion-page/buildings-cards/third-card.webp');
}

.modern-primary-card {
    background-image: url('/static/img/dominion-page/buildings-cards/first-card.webp');
}

.modern-secondary-card:nth-child(1) {
    background-image: url('/static/img/dominion-page/buildings-cards/secondary-card1.webp');
}

.modern-secondary-card:nth-child(2) {
    background-image: url('/static/img/dominion-page/buildings-cards/secondary-card2.webp');
}

.modern-primary-container,
.modern-secondary-container,
.modern-third-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modern-card-title {
    position: relative; /* Добавляем это */
    max-width: 322px;
    display: inline-block; /* Чтобы ширина соответствовала содержимому */
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 170%;
    text-transform: uppercase;
    padding: 6px 0;
}

.modern-card-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e81a1a;
    transition: width 0.3s;
}

#modern-title1 {
    width:fit-content;
}

#modern-title2 {
    width:fit-content;
}

.modern-card-title:hover::after {
    width: 100%;
}

.med-text {
    width: 120px;
    position: relative; /* Добавляем относительное позиционирование */
    display: inline-block; /* Ограничиваем ширину по содержимому */
    font-size: 14px;
    line-height: 170%;
    font-weight: 500;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.50);
    padding-bottom: 2px; /* Добавляем отступ для подчеркивания */
}

.med-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e81a1a;
    transition: width 0.3s;
}

.med-text:hover::after {
    width: 100%; /* Теперь 100% от ширины самого элемента */
}

@media (max-width: 1024px) {
    .main-modern-buildings-container {
        gap: 18px;
    }

    .modern-card {
        box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    }
/* --- */
    .modern-primary-card{
        width: 266px;
        height: 390px;
    }

    .modern-back-cards {
        gap: 20px;
        width: 572px;
    }
    .modern-secondary-cards {
        gap: 16px;
    }

    .modern-secondary-card {
        width: 278px;
        height: 262px;
        gap: 20px;
    }

    .modern-third-cards {
        gap: 20px;
    }

    .modern-third-card {
        width: 572px;
        height: 266px;
    }

    .modern-primary-container,
    .modern-secondary-container,
    .modern-third-container {
        gap: 16px;
    }

    .modern-card-title {
        max-width: 322px;
        font-size: 16px;
        line-height: 170%;
    }

    .med-text {
        width: 120px;
        font-size: 14px;
        line-height: 170%;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .main-modern-buildings-container {
        gap: 18px;
    }

    .modern-card {
        box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    }
/* --- */
    .modern-primary-card{
        width: 194px;
        height: 320px;
    }

    .modern-back-cards {
        gap: 22px;
        width: 388px;
    }
    .modern-secondary-cards {
        gap: 16px;
    }

    .modern-secondary-card {
        width: 194px;
        height: 262px;
        gap: 20px;
    }

    .modern-third-cards {
        gap: 20px;
    }

    .modern-third-card {
        width: 388px;
        height: 206px;
    }

    .modern-primary-container,
    .modern-secondary-container,
    .modern-third-container {
        gap: 16px;
    }

    .modern-card-title {
        max-width: 322px;
        font-size: 16px;
        line-height: 170%;
    }

    .med-text {
        width: 120px;
        font-size: 14px;
        line-height: 170%;
        margin-bottom: 40px;
    }
}