.text {
    display: flex;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 40px;

    &::after {
        content: "здание «Доминион» потрясающего архитектора захи хаддид";
    }
}

.meta-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Каждая группа (иконка + текст) */
.meta-group {
  display: flex;
  align-items: center; /* Выравниваем по центру */
  gap: 10px; /* Отступ между иконкой и текстом */
}

/* Иконка */
.meta-icon {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#admin-icon {
  background-image: url(/static/img/dominion-page/icons/admin.png);
}

#time-icon {
  background-image: url(/static/img/dominion-page/icons/time.png);
}

#date-icon {
  background-image: url(/static/img/dominion-page/icons/date.png);
}

/* Текст в столбик */
.meta-titles {
  display: flex;
  flex-direction: column;
}

.meta-title {
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease; /* Плавный переход для текста */
}

.meta-subtitle {
  font-weight: 600;
  font-size: 14px;
  color: #e81a1a;
  transition: all 0.3s ease; /* Плавный переход для подзаголовка */
}

.meta-groups {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease; /* Плавное движение вверх */
    cursor: pointer; /* Меняем курсор при наведении */
}

/* Эффекты при наведении на всю группу */
.meta-groups:hover {
  transform: translateY(-6px); /* Двигаем вверх на 5px */
}

.meta-groups:hover .meta-title {
  color: #e81a1a; /* Меняем цвет заголовка */
}

.meta-groups:hover .meta-subtitle {
  color: #e81a1a; /* Меняем цвет подзаголовка */
}

@media (max-width: 1024px) {
    .text {
        font-size: 14px;
    }

    .meta-icon {
        width: 30px;
        height: 30px;
    }

    .meta-title {
        font-size: 12px;
    }

    .meta-subtitle {
        font-size: 12px;
    }

    .meta-groups {
        gap: 8px;
    }
}