.main-buttom-news {
    position: relative;
    overflow: hidden;
    color: white;
    display: flex;
    width: 100%;
    height: 618px;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url('/static/img/main/news/buttom-news/Bitmap1.webp');
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}

.buttom-news-name {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

.main-buttom-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 862px;
    gap: 100%;
}

.buttom-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .6s, transform .8s;
    

    &.prev,
    &.next {
        opacity: 0;
        pointer-events: none;
    }

    &.prev {
        transform: translateX(-50%);
    }

    &.next {
        transform: translateX(50%);
    }
}

.buttom-news-container {
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    padding: 100px;
    width: 862px;
    justify-content: center;
}

.buttom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttom-titls {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
    position: relative;
    z-index: 2;
    width: 862px;

}

.news-content-title1 {
    font-weight: 300;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bbb {
    font-weight: 500;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 56px;
}

.swiching-pags1 {
    position: absolute;
    bottom: 100px;
    justify-self: center;
    display: flex;
    gap: 14px;
}

.swiching-pag1 {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
}

.swiching-pag1:focus-visible,
.swiching-pag1.active {
    background-color: #ffffff;
}

.swiching-pag1.active {
    pointer-events: none;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.342);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &.disabled {
        opacity: 0.80;
        pointer-events: none;
    }
}

.prev-arrow,
.next-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prev-arrow {
    left: 0;
    transform: translate(-400%, -50%);

    &:active {
        transform: translate(-400%, -50%) scale(.95);
    }
}

.next-arrow {
    right: 0;
    transform: translate(400%, -50%);

    &:active {
        transform: translate(400%, -50%) scale(.95);
    }
}

.arrow-icon {
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
    line-height: 1;
}

.arrow-btn:hover {
    border-color: #e81a1a;
    background-color: rgba(232, 26, 26, 0.1);
}

.arrow-btn:hover .arrow-icon {
    color: #e81a1a;
}

@media (max-width: 1024px) {
    .main-buttom-news {
        width: 100%;
        height: 518px;
    }

    .buttom-news-name {
        margin-bottom: 75px;
    }

    .main-buttom-container {
        width: 862px;
        gap: 100%;
    }

    .buttom-slide {
        width: 100%;
        height: 100%;
    }

    .buttom-news-container {
        padding: 100px;
        width: 862px;
    }

    .buttom-titls {
        font-size: 50px;
        width: 752px;

    }

    .news-content-title1 {
        font-weight: 300;
    }

    .bbb {
        font-weight: 500;
    }

    .button-container {
        margin-top: 40px;
        margin-bottom: 56px;
    }

    .swiching-pags1 {
        bottom: 70px;
        gap: 14px;
    }

    .swiching-pag1 {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid #ffffff;
    }

    .arrow-btn {
        top: 50%;
        width: 40px;
        height: 40px;

    }

    .prev-arrow {
        left: 0;
        transform: translate(-100%, -50%);

        &:active {
            transform: translate(-100%, -50%) scale(.95);
        }
    }

    .next-arrow {
        right: 0;
        transform: translate(100%, -50%);

        &:active {
            transform: translate(100%, -50%) scale(.95);
        }
    }
}

@media (max-width: 768px) {
    .main-buttom-news {
        width: 100%;
        height: 418px;
    }

    .buttom-news-name {
        margin-bottom: 55px;
    }

    .main-buttom-container {
        width: 100%;
        gap: 100%;
    }

    .buttom-slide {
        width: 100%;
        height: 100%;
    }

    .buttom-news-container {
        padding: 100px;
        width: 100%;
    }

    .buttom-titls {
        font-size: 40px;
        width: 552px;

    }

    .news-content-title1 {
        font-weight: 300;
    }

    .bbb {
        font-weight: 500;
    }

    .button-container {
        margin-top: 40px;
        margin-bottom: 56px;
    }

    .swiching-pags1 {
        bottom: 50px;
        gap: 14px;
    }

    .swiching-pag1 {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid #ffffff;
    }

    .arrow-btn {
        top: 50%;
        width: 40px;
        height: 40px;

    }

    .prev-arrow {
        left: 0;
        transform: translate(-100%, -50%);

        &:active {
            transform: translate(-100%, -50%) scale(.95);
        }
    }

    .next-arrow {
        right: 0;
        transform: translate(100%, -50%);

        &:active {
            transform: translate(100%, -50%) scale(.95);
        }
    }
}

@media (max-width: 425px) {
    .main-buttom-news {
        width: 100%;
        height: 318px;
    }

    .buttom-news-name {
        margin-bottom: 35px;
    }

    .main-buttom-container {
        width: 100%;
        gap: 100%;
    }

    .buttom-slide {
        width: 100%;
        height: 100%;
    }

    .buttom-news-container {
        padding: 80px;
        width: 100%;
    }

    .buttom-titls {
        font-size: 25px;
        width: 352px;
    }

    .news-content-title1 {
        font-weight: 300;
    }

    .bbb {
        font-weight: 500;
    }

    .button-container {
        margin-top: 20px;
        margin-bottom: 56px;
    }

    .swiching-pags1 {
    }

    .swiching-pag1 {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid #ffffff;
    }

    .arrow-btn {
        top: 50%;
        width: 40px;
        height: 40px;

    }

    .prev-arrow {
        left: 0;
        transform: translate(-100%, -50%);

        &:active {
            transform: translate(-100%, -50%) scale(.95);
        }
    }

    .next-arrow {
        right: 0;
        transform: translate(100%, -50%);

        &:active {
            transform: translate(100%, -50%) scale(.95);
        }
    }
}