@import url('/CSS/reset.css');
@import url('/CSS/index.css');
@import url('/CSS/therd-news/info-about-riding.css');
@import url('/CSS/therd-news/text.css');
@import url('/CSS/therd-news/buildings-cards.css');
@import url('/CSS/therd-news/botom-links.css');
@import url('/CSS/therd-news/arrow-ups.css');

.path {
    display: flex;
    margin-top: 20px;
    margin-bottom: 48px;
}

.text-path {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.5);
}

.info-about-riding {
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
}

.dominion-main-info {
    display: flex;
    margin-bottom: 26px;
}

.palochka {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}





