.text-bottom {
    display: flex;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 40px;

    &::after {
        content: "С этим читают";
    }
}

.meta-icon2 {
  width: 146px;
  height: 132px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease;
}

#popular-building-icon {
  background-image: url('/img/dominion-page/bottom-links/first-bottom.webp');
}

#most-curved-building-icon {
  background-image: url('/img/dominion-page/bottom-links/second-bottom.webp');
}

#glass-revolution-icon {
  background-image: url('/img/dominion-page/bottom-links/third-bottom.webp');
}

/* Текст в столбик */
.meta-titless {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.meta-titlee {
  font-size: 20px;
  color: black;
  transition: all 0.3s ease;
}

.meta-subtitlee {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  transition: all 0.3s ease;
}

.meta-groups {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* Эффекты при наведении на всю группу */
.meta-groups:hover {
  transform: translateY(-6px);
}

.meta-groups:hover .meta-titlee {
  color: #e81a1a;
}

.meta-groups:hover .meta-subtitlee {
  color: #e81a1a;
}

@media (max-width: 1024px) {
  .meta-icon2 {
    width: 126px;
    height: 132px;
  }
  .meta-titless {
    gap: 16px;
  }

  .meta-titlee {
    font-size: 14px;
  }

  .meta-subtitlee {
    font-size: 10px;
    letter-spacing: 1px;
  }

  .meta-groups {
      gap: 6px;
  }
}