.text-bottom {
    display: flex;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 40px;

    &::after {
        content: "С этим читают";
    }
}

.meta-icon2 {
  width: 146px;
  height: 132px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease; /* Плавная анимация для иконки */
}

#popular-building-icon {
  background-image: url('/img/dominion-page/bottom-links/first-bottom.webp');
}

#most-curved-building-icon {
  background-image: url('/img/dominion-page/bottom-links/second-bottom.webp');
}

#glass-revolution-icon {
  background-image: url('/img/dominion-page/bottom-links/third-bottom.webp');
}

/* Текст в столбик */
.meta-titles {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.meta-title {
  font-size: 20px;
  color: black;
  transition: all 0.3s ease; /* Плавный переход для текста */
}

.meta-subtitle {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  transition: all 0.3s ease; /* Плавный переход для подзаголовка */
}

.meta-groups {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease; /* Плавное движение вверх */
    cursor: pointer; /* Меняем курсор при наведении */
}

/* Эффекты при наведении на всю группу */
.meta-groups:hover {
  transform: translateY(-5px); /* Двигаем вверх на 5px */
}

.meta-groups:hover .meta-title {
  color: #e81a1a; /* Меняем цвет заголовка */
}

.meta-groups:hover .meta-subtitle {
  color: #e81a1a; /* Меняем цвет подзаголовка */
}

