.secondary-container-width {
    width: 100%;
    max-width: 952px;
    margin: 0 auto;
    margin-bottom: 46px;
    margin-top: 20px;
}


.main-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    max-width: 480px;
    margin-bottom: 10px;
}

.main-number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.5);
    max-width: 480px;
    margin-bottom: 20px;
}

.all-content-container {
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    width: 952px;
    height: 100%;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 60px;
}

/* Карточки */


.building-dominion,
.building-scale,
.building-sidnay,
.building-kubs,
.building-flowers,
.building-circle,
.building-sin-city,
.building-stairs,
.building-bones {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



#one {
    background-image: url('/img/arch-news/1/dominion.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 278px;
    height: 420px;
}

#two {
    background-image: url('/img/arch-news/1/scale.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 358px;
    height: 490px;
}

#three {
    background-image: url('/img/arch-news/1/sydnay.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 278px;
    height: 420px;
}

#four {
    background-image: url('/img/arch-news/2/kubs.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 278px;
    height: 362px;
}

#five {
    background-image: url('/img/arch-news/2/flowers.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 358px;
    height: 324px;
}

#six {
    background-image: url('/img/arch-news/2/circle.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 278px;
    height: 362px;
}

#seven {
    background-image: url('/img/arch-news/3/sin-city.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 278px;
    height: 420px;
}

#eight {
    background-image: url('/img/arch-news/3/stairs.webp');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center; 
    width: 358px;
    height: 490px;
}

#nine {
    background-image: url('/img/arch-news/3/bouns.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 278px;
    height: 420px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 170%;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    max-width: 480px;
    margin-bottom: 10px;
}

.title a::after {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
    color: #D90000;
    text-transform: uppercase;
    max-width: 480px;
    margin-bottom: 10px;
}

/* Кнопка для карточек */
.primary-card,
.secondary-card {
    position: relative;
    display: flex;
}

.button-card {
    position: absolute;
    bottom: 0;
    
    display: flex; 
    height: 46px;
    width: 150px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    color: #333;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;    

    background-color: #fff;

    cursor: pointer;
    transition: all 0.3s ease;
    
    &hidden {
        transform: translateX(-100%) translateY(-100%) ;
        transition: all 0.3s ease;
    }
}

.button-card:hover {
    color:#D90000;
}

.button-card:active {
    transform: translateY(1px);
}