.secondary-container-width {
    width: 100%;
    max-width: 952px;
    margin: 0 auto;
    margin-bottom: 46px;
    margin-top: 20px;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    max-width: 480px;
    margin-bottom: 10px;
}

.main-number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.5);
    max-width: 480px;
    margin-bottom: 20px;
}

.all-content-container {
    display: flex;
    flex-direction: column;
}

.content-container {
    width: 952px;
    height: 100%;
}

/* Карточки */


.building-dominion,
.building-scale,
.building-sidnay,
.building-kubs,
.building-flowers,
.building-circle,
.building-sin-city,
.building-stairs,
.building-bones {
    display: flex;
    flex-direction: column;
}

.primary-card {
    max-width: 358px;
}

.secondary-card {
    max-width: 278px;
}

.primary-card:nth-child(1) {
    
}

.secondary-card:nth-child(1) {
    
}