{% extends '1.html' %}

{% block up_button %}
    <a class="up_button hidden">
        <div class="up">Наверх</div>
        <div class="arrow-container">
            <div class="arrow"></div>
        </div>
    </a>
{% endblock %}

{% block main_top_news %}
            <section class="main-top-news container-width">
                <div class="top-news-container slide">
                    <div class="news-card news-card-primary">
                        <div class="news-number">02</div>
                        <h2 class="news-title">Самые актуальные архитектурные новости</h2>
                        <a href="/templates/HTML/2.html" class="news-button">СМОТРЕТЬ</a>
                    </div>

                    <div class="secondary-cards">
                        <div class="news-card news-card-secondary">
                            <h2 class="news-title">Архитектурная мода 2019 года</h2>
                            <a href="/templates/HTML/2.html" class="news-button">СМОТРЕТЬ</a>
                        </div>

                        <div class="news-card news-card-secondary">
                            <h2 class="news-title">Современные строения</h2>
                            <a href="/templates/HTML/2.html" class="news-button">СМОТРЕТЬ</a>
                        </div>
                    </div>
                </div>

                <div class="top-news-container slide next">
                    <div class="news-card news-card-primary">
                        <div class="news-number">02</div>
                        <h2 class="news-title">Самые актуальные архитектурные новости</h2>
                        <a href="/templates/HTML/2.html" class="news-button">СМОТРЕТЬ</a>
                    </div>

                    <div class="secondary-cards">
                        <div class="news-card news-card-secondary">
                            <h2 class="news-title">Архитектурная мода 2019 года</h2>
                            <a href="/templates/HTML/2.html" class="news-button">СМОТРЕТЬ</a>
                        </div>

                        <div class="news-card news-card-secondary">
                            <h2 class="news-title">Современные строения</h2>
                            <a href="/templates/HTML/2.html" class="news-button">СМОТРЕТЬ</a>
                        </div>
                    </div>
                </div>

                <div class="top-news-container slide next">
                    <div class="news-card news-card-primary">
                        <div class="news-number">02</div>
                        <h2 class="news-title">Самые актуальные архитектурные новости</h2>
                        <a href="/templates/HTML/2.html" class="news-button">СМОТРЕТЬ</a>
                    </div>

                    <div class="secondary-cards">
                        <div class="news-card news-card-secondary">
                            <h2 class="news-title">Архитектурная мода 2019 года</h2>
                            <a href="/templates/HTML/2.html" class="news-button">СМОТРЕТЬ</a>
                        </div>

                        <div class="news-card news-card-secondary">
                            <h2 class="news-title">Современные строения</h2>
                            <a href="/templates/HTML/2.html" class="news-button">СМОТРЕТЬ</a>
                        </div>
                    </div>
                </div>

                <div class="top-news-container slide next">
                    <div class="news-card news-card-primary">
                        <div class="news-number">02</div>
                        <h2 class="news-title">Самые актуальные архитектурные новости</h2>
                        <a href="/templates/HTML/2.html" class="news-button">СМОТРЕТЬ</a>
                    </div>

                    <div class="secondary-cards">
                        <div class="news-card news-card-secondary">
                            <h2 class="news-title">Архитектурная мода 2019 года</h2>
                            <a href="/templates/HTML/2.html" class="news-button">СМОТРЕТЬ</a>
                        </div>

                        <div class="news-card news-card-secondary">
                            <h2 class="news-title">Современные строения</h2>
                            <a href="/templates/HTML/2.html" class="news-button">СМОТРЕТЬ</a>
                        </div>
                    </div>
                </div>
    {% block swiching_pags %}
                <div class="swiching-pags">
                    <button id="btn1" class="swiching-pag active"></button>
                    <button id="btn2" class="swiching-pag"></button>
                    <button id="btn3" class="swiching-pag"></button>
                    <button id="btn4" class="swiching-pag"></button>
                </div>
            </section>
    {% endblock %}
{% endblock %}

