.mailing-section {
    display: flex;
    margin: 20px;
    height: 312px;
    justify-content: center;
    align-items: center;
}

.mail-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mailing-title {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

.e-mail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    width: 560px;
    gap: 10px;
}

.mailing-button {
    /* Размеры */
    width: 200px;
    height: 50px;
    
    /* Текст */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    
    /* Внешний вид */
    background-color: #1A1A1A;
    border: none;
    
    /* Эффекты */
    cursor: pointer;
    transition: all 0.3s ease;
    
    /* Выравнивание текста */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mailing-button:hover {
    background-color: #c01010;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.mailing-button:active {
    transform: translateY(1px);
    box-shadow: none;
}

.input-email {
    width: 350px;
    height: 50px;
    padding: 0 15px;
    
    border: 1px solid #9A9A9A;
    border-radius: 1px;
    
    background-color: transparent;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
    outline: none;
    transition: border-color 0.3s ease;
}

.input-email:focus {
    border-color: #e81a1a;
}

