.mailing-section {
    display: flex;
    height: 312px;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F7;
}

.mail-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &.succes {
        background-color: lightgreen;
    }

    &.error {
        background-color: #ff0c0c;
    }
}

.mailing-title {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #333;
}

.e-mail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    width: 560px;
    gap: 10px;
}

.mailing-button {
    /* Размеры */
    width: 200px;
    height: 50px;
    
    /* Текст */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    
    /* Внешний вид */
    background-color: #1A1A1A;
    border: none;
    
    /* Эффекты */
    cursor: pointer;
    transition: all 0.3s ease;
    
    /* Выравнивание текста */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mailing-button:hover {
    background-color: #c01010;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.mailing-button:active {
    transform: translateY(1px);
    box-shadow: none;
}

.input-email {
    width: 350px;
    height: 50px;
    padding: 0 15px;
    
    border: 1px solid #9A9A9A;
    border-radius: 1px;
    
    background-color: transparent;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
    outline: none;
    transition: border-color 0.3s ease;

    &::placeholder {
        transition: color 0.5s ease;
    }
}

.input-email:focus {
    border-color: #e81a1a;
    &::placeholder {
        color: #e81a1a;
    }
}

@media (max-width: 1024px) {
    .mailing-section {
        height: 312px;
    }

    .mail-container {
        gap: 30px;
    }

    .mailing-title {
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 1px;
    }

    .e-mail-container {
        width: 500px;
        gap: 10px;
    }

    .mailing-button {
        width: 200px;
        height: 50px;

        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .input-email {
        width: 350px;
        height: 50px;
        padding: 0 15px;
    }
}

@media (max-width: 768px) {
    .mailing-section {
        height: 302px;
    }

    .mail-container {
        gap: 30px;
    }

    .mailing-title {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .e-mail-container {
        width: 500px;
        gap: 10px;
    }

    .mailing-button {
        width: 150px;
        height: 50px;

        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .input-email {
        width: 300px;
        height: 50px;
        padding: 0 15px;
        
        font-weight: 600;
        font-size: 10px;
        letter-spacing: 1px;
    }
}