.main-modern-buildings-name{
    display: inline-block;
    margin-top: 120px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
    border: 2px solid white;
    border-radius: 50px;
    padding: 12px 30px ;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
    width: fit-content;
    outline: none;
}

.main-modern-buildings {
    display: flex;
    gap: 50px;
    padding: 30px 0;
}

.modern-card {
    position: relative;
    overflow: hidden;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.modern-primary-card{
    display: flex;
    width: 404px;
    height: 626px;
    pointer-events: none;
}

.modern-back-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 716px;
}
.modern-secondary-cards {
    display: flex; 
    gap: 20px;
    justify-content: space-between;
}

.modern-secondary-card {
    display: flex;
    width: 348px;
    height: 292px;
    gap: 20px;
    justify-content: space-between;
}

.modern-third-card {
    display: flex;
    width: 716px;
    height: 246px;
    pointer-events: none;
    background-image: url('/img/main/modern-bildings/third-card.svg');
}

.modern-primary-card {
    background-image: url('/img/main/modern-bildings/primary-card.svg');
}

.modern-secondary-card:nth-child(1) {
    background-image: url('/img/main/modern-bildings/secondary-card1.svg');
}

.modern-secondary-card:nth-child(2) {
    background-image: url('/img/main/modern-bildings/secondary-card2.svg');
}

.modern-primary-container,
.modern-secondary-container,
.modern-third-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modern-card-title {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    padding: 6px 0;
}

.modern-card-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e81a1a;
    transition: width 0.3s;
}

.modern-card-title:hover::after {
    width: 170px;
}

#text-modern {
    top: 20px;
}

