.main-modern-buildings {
    display: flex;
    padding-top: 120px;
    margin-bottom: 100px;
    flex-direction: column;
}

.main-modern-buildings-container {
    display: flex;
    gap: 50px;
    padding: 30px 0;
}

.modern-card {
    position: relative;
    overflow: hidden;
    color: rgb(0, 0, 0);
    display: flex;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.modern-primary-card{
    display: flex;
    width: 404px;
    height: 626px;
    pointer-events: none;
}

.modern-back-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 716px;
}
.modern-secondary-cards {
    display: flex; 
    gap: 20px;
    justify-content: space-between;
}

.modern-secondary-card {
    display: flex;
    width: 348px;
    height: 292px;
    gap: 20px;
    justify-content: space-between;
}

.modern-third-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modern-third-card {
    display: flex;
    width: 716px;
    height: 246px;
    pointer-events: none;
    background-image: url('/img/main/modern-bildings/third-card.webp');
}

.modern-primary-card {
    background-image: url('/img/main/modern-bildings/primary-card.webp');
}

.modern-secondary-card:nth-child(1) {
    background-image: url('/img/main/modern-bildings/secondary-card1.webp');
}

.modern-secondary-card:nth-child(2) {
    background-image: url('/img/main/modern-bildings/secondary-card2.webp');
}

.modern-primary-container,
.modern-secondary-container,
.modern-third-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modern-card-title {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 6px 0;
}

.modern-card-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e81a1a;
    transition: width 0.3s;
}

#modern-title1 {
    width:fit-content;
}

#modern-title2 {
    width:fit-content;
}

.modern-card-title:hover::after {
    width: 100%;
}

@media (max-width: 1024px) {
    .main-modern-buildings {

    }

    .main-modern-buildings-container {
        gap: 30px;
        overflow-x: scroll;
    }

    .modern-card {

    }

    .modern-primary-card{
        width: 302px;
    }   

    .modern-back-cards {
        width: 568px;
    }

    .modern-third-card {
        width: 568px;
    }

    .modern-primary-card {

    }

    .modern-secondary-card:nth-child(1) {

    }

    .modern-secondary-card:nth-child(2) {

    }

    .modern-primary-container,
    .modern-secondary-container,
    .modern-third-container {

    }

    .modern-card-title {

    }

    .modern-card-title::after {

    }

    #modern-title1 {

    }

    #modern-title2 {

    }

    .modern-card-title:hover::after {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .main-modern-buildings {

    }

    .main-modern-buildings-container {
        gap: 20px;
    }

    .modern-card {

    }

    .modern-primary-card{
        width: 282px;
        height: 500px;
    }   

    .modern-back-cards {
        width: 518px;
        height: 600px;
    }

    .modern-third-card {
        width: 518px;
        height: 200px;
    }

    .modern-primary-card {

    }

    .modern-secondary-cards {
        height: 230px;
    }

    .modern-secondary-card:nth-child(1) {
        height: 230px;
    }

    .modern-secondary-card:nth-child(2) {
        height: 230px;
    }

    .modern-primary-container,
    .modern-secondary-container,
    .modern-third-container {

    }

    .modern-card-title {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 4px 0;
    }

    .modern-card-title::after {

    }

    #modern-title1 {

    }

    #modern-title2 {

    }

    .modern-card-title:hover::after {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .main-modern-buildings {

    }

    .main-modern-buildings-container {
        gap: 10px;
    }

    .modern-card {

    }

    .modern-primary-card{
        width: 182px;
        height: 300px;
    }   

    .modern-back-cards {
        width: 318px;
        height: 400px;
    }

    .modern-third-card {
        width: 318px;
        height: 100px;
    }

    .modern-primary-card {

    }

    .modern-secondary-cards {
        height: 150px;
    }

    .modern-secondary-card:nth-child(1) {
        height: 150px;
    }

    .modern-secondary-card:nth-child(2) {
        height: 150px;
    }

    .modern-primary-container,
    .modern-secondary-container,
    .modern-third-container {

    }

    .modern-card-title {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 4px 0;
    }

    .modern-card-title::after {

    }

    #modern-title1 {

    }

    #modern-title2 {

    }

    .modern-card-title:hover::after {
        width: 100%;
    }
}