.main-buttom-news {
    position: relative;
    overflow: hidden;
    color: white;
    display: flex;
    width: 100%;
    height: 618px;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url('/img/main/news/buttom-news/Bitmap1.svg');
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}

.buttom-news-name {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 75px;
}

/* .main-buttom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.buttom-slide {
    top: 0;
    left: 30%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    transition: opacity .6s, transform .8s;

    &.prev,
    &.next {
        opacity: 0;
        pointer-events: none;
    }

    &.prev {
        transform: translateX(-50%);
    }

    &.next {
        transform: translateX(50%);
    }
}

.buttom-news-container {
    display: flex;
    justify-content: center;
    width: 862px;
}

.buttom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttom-titls {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
    position: relative;
    z-index: 2;
    max-width: 650px;

}

.news-content-title1 {
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news-content-title2 {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 56px;
}

.swiching-pags1 {
    position: absolute;
    bottom: -40px;
    left: 47%;
    display: flex;
    gap: 14px;
    margin-bottom: 100px;
}

.swiching-pag1 {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.swiching-pag1:focus-visible,
.swiching-pag1.active {
    background-color: #ffffff;
}

.swiching-pag1.active {
    pointer-events: none;
}

.right-arrow,
.left-arrow {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-arrow {
    position: absolute;
    top: 50%;
    left: 80%;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 20%;
}

.arrow-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.342);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    cursor: pointer;
}

.arrow-icon {
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
    line-height: 1;
}

.arrow-btn:hover {
    border-color: #e81a1a;
    background-color: rgba(232, 26, 26, 0.1);
}

.arrow-btn:hover .arrow-icon {
    color: #e81a1a;
}

.arrow-btn:active {
    transform: scale(0.95);
}