.old-buildings{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.old-buildings-container{
    display: flex;
    gap: 50px;
    padding: 30px 0;
    
}

/* Общие стили */

.old-card{
    position: relative;
    overflow: hidden;
    color: rgb(0, 0, 0);
    display: flex;
    background-size: cover;
    background-position: center;
}

.old-card-title {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding: 6px 0;
    padding-top: 20px;
}

.old-card-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e81a1a;
    transition: width 0.3s;
}

.old-card-title:hover::after {
    width: 100%;
}

#old-title1 {
    width:fit-content;
}

#old-title2 {
    width: fit-content;
    margin-top: -14px;
}

/* --- */

.old-primary-container {
    display: flex;
    flex-direction: column;
}

.religion-buildings{
    width: 580px;
    height: 386px;
    pointer-events: none;
    background-image: url('/img/main/old-buildings/primary-card.webp');
}

.old-back-cards {
    display: flex;
    gap: 20px;
}

.old-third-cards {
    display: flex;
    gap: 14px;
    flex-direction: column;
}

.first-old-card {
    width: 304px;
    height: 200px;
    background-image: url('/img/main/old-buildings/third-card.webp');
}

.second-old-card {
    width: 304px;
    height: 134px;
    background-image: url('/img/main/old-buildings/third-card-2.webp');
}

.old-secondary-card {
    width: 218px;
    height: 346px;
    background-image: url('/img/main/old-buildings/secondary-card.webp');
}

@media (max-width: 1024px) {
    .old-buildings{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .old-buildings-container{
        gap: 24px;
        padding: 30px 0;
    }

    /* Общие стили */

    .old-card{
    }

    .old-card-title {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 6px 0;
        padding-top: 20px;
    }

    .old-card-title::after {
        height: 2px;
        transition: width 0.3s;
    }

    .old-card-title:hover::after {
        width: 100%;
    }

    #old-title1 {
        width:fit-content;
    }

    #old-title2 {
        width: fit-content;
        margin-top: -14px;
    }

    /* --- */

    .religion-buildings{
        width: 420px;
        height: 306px;
    }

    .old-back-cards {
        gap: 14px;
    }

    .old-third-cards {
        gap: 14px;
        width: 244px;
    }

    .first-old-card {
        width: 244px;
        height: 146px;
    }

    .second-old-card {
        width: 244px;
        height: 146px;
    }

    .old-secondary-card {
        width: 188px;
        height: 306px;
    }
}

@media (max-width: 768px) {
    .old-buildings{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .old-buildings-container{
        gap: 24px;
        padding: 30px 0;
        overflow-x: scroll;
    }

    /* Общие стили */

    .old-card{
    }

    .old-card-title {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 4px 0;
        padding-top: 20px;
    }

    .old-card-title::after {
        height: 2px;
        transition: width 0.3s;
    }

    .old-card-title:hover::after {
        width: 100%;
    }

    #old-title1 {
        width:fit-content;
    }

    #old-title2 {
        width: fit-content;
        margin-top: -14px;
    }

    /* --- */

    .religion-buildings{
        width: 420px;
        height: 306px;
    }

    .old-back-cards {
        gap: 14px;
    }

    .old-third-cards {
        gap: 14px;
        width: 244px;
    }

    .first-old-card {
        width: 244px;
        height: 146px;
    }

    .second-old-card {
        width: 244px;
        height: 146px;
    }

    .old-secondary-card {
        width: 188px;
        height: 306px;
    }
}

@media (max-width: 425px) {
    .old-buildings{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .old-buildings-container{
        gap: 24px;
        padding: 20px 0;
        overflow-x: scroll;
    }

    /* Общие стили */

    .old-card{
    }

    .old-card-title {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 4px 0;
        padding-top: 20px;
    }

    .old-card-title::after {
        height: 2px;
        transition: width 0.3s;
    }

    .old-card-title:hover::after {
        width: 100%;
    }

    #old-title1 {
        width:fit-content;
    }

    #old-title2 {
        width: fit-content;
        margin-top: -14px;
    }

    /* --- */

    .religion-buildings{
        width: 220px;
        height: 256px;
    }

    .old-back-cards {
        gap: 12px;
    }

    .old-third-cards {
        gap: 14px;
        width: 204px;
    }

    .first-old-card {
        width: 204px;
        height: 106px;
    }

    .second-old-card {
        width: 204px;
        height: 106px;
    }

    .old-secondary-card {
        width: 188px;
        height: 256px;
    }
}